.Intro_header {
  font-weight: 700;
}
.intro_details {
  gap: 5px;
  display: flex;
  margin-top: 10px;
  justify-content: flex-start;
  align-items: center;
  color: var(--color-primary);
  font-size: 15px;
}

.intro_details img {
  filter: invert(40%);
}
.intro_details_bio {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  color: var(--color-secondary);
  font-size: 16px;
}
.intro_details_bio span {
  margin-top: 10px;
}
.intro_details_bio button {
  width: 100%;
  font-weight: 600;
}
.intro_details_bio .gray_btn:hover {
  filter: brightness(90%);
}
.btn_collection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.btn_collection button {
  font-weight: 600;
}
.btn_collection .gray_btn:hover {
  filter: brightness(0.9);
}
.bio_wrap .textarea_blue:focus {
  outline-offset: 0px;
  outline-color: var(--blue-color);
  outline-width: 0.5px;
}
.bio_wrap .textarea_blue {
  margin-top: 10px;
  background: var(--bg-secondary);
}
.bio_wrap {
  display: flex;
  flex-direction: column;
}

.bio_wrap .textarea_blue {
}
.bio_wrap .bio_remaining {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  color: var(--color-secondary);
  margin-top: 5px;
}
.bio_wrap .bio_save {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.bio_wrap .bio_save .left {
  gap: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.bio_wrap .bio_save .left span {
  color: var(--color-secondary);
}
.bio_wrap .bio_save .right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.bio_wrap .bio_save .right button {
  font-weight: 600;
  font-size: 14px;
}
.bio_wrap .bio_save .right button:hover {
  filter: brightness(0.9);
}
.other_header {
  display: grid;
  grid-template-columns: 17fr 1fr !important;
  padding: 10px 0 !important;
}
.body_other_details {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.body_other_details .customize {
}
.body_other_details .customize .custom_header {
  font-weight: 700;
  font-size: 14px;
}
.body_other_details .customize .body {
  color: var(--color-secondary);
  font-size: 12px;
}

.body_other_details .general_Details {
  padding: 5px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  gap: 10px;

}

.body_other_details .general_Details .inner {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  
}

.filter_blue {
  filter: invert(39%) sepia(57%) saturate(200%) saturate(200%) saturate(200%)
    saturate(200%) saturate(200%) saturate(147.75%) hue-rotate(202deg)
    brightness(97%) contrast(96%);
}
