.posts {
  max-width: 100%;
}
.post {
  margin-top: 20px;
  background: var(--bg-primary) !important;
  width: 680px;
  border-radius: 10px;
  box-shadow: 0 1px 2px var(--shadow-1);
  user-select: none;
  color: var(--color-primary);
  margin-bottom: 10px;
  position: relative;
}
.post .post_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}

.post .post_header .post_header_left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.post .post_header .post_header_left img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.post_header_left .profile_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.post_header_left .profile_name .name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  cursor: pointer;
}

.post_header_left .profile_name .name .updated_p {
  font-size: 12px;
  color: var(--color-secondary);
  font-weight: normal;
}

.post_header_left .profile_name .date {
  margin-top: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  font-size: 12px;
  color: var(--color-secondary);
}
.post .post_header .hover1 {
  border-radius: 50% !important;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.post_bg {
  height: 500px;
  padding: 15px;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 22px;
  background-repeat: no-repeat;
  background-size: cover;
}
.post_text {
  padding: 0 15px 10px 15px;
}

.grid_1 img {
  width: 100%;
  height: 610px;
  object-fit: cover;
}
.grid_1 {
  display: flex;
  height: 610px;
  justify-content: center;
}
.grid_2 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  background: #fff;
  gap: 1px;
}
.grid_2 img:first-of-type {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 2;
  height: 610px;
  object-fit: cover;
}
.grid_2 img:last-of-type {
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 3;
  height: 610px;
  object-fit: cover;
}
.grid_3 {
  width: 100%;
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  grid-template-rows: 1fr 1fr;
  background: #fff;
  gap: 1px;
}
.grid_3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid_3 .img-0 {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  height: 610px;
  object-fit: cover;
}
.grid_3 .img-1 {
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 305px;
  object-fit: cover;
}
.grid_3 .img-2 {
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 305px;
  object-fit: cover;
}
.grid_4 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background: #fff;
  gap: 1px;
}
.grid_4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid_4 .img-0 {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 305px;
  object-fit: cover;
}
.grid_4 .img-1 {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 305px;
  object-fit: cover;
}
.grid_4 .img-2 {
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 305px;
  object-fit: cover;
}
.grid_4 .img-3 {
  width: 100%;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 305px;
  object-fit: cover;
}
.grid_5 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  background: #fff;
  gap: 1px;
}
.grid_5 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid_5 .img-0 {
  width: 100%;
  grid-column: auto / span 3;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 305px;
  object-fit: cover;
}
.grid_5 .img-1 {
  width: 100%;
  grid-column: auto / span 3;

  grid-row-start: 1;
  grid-row-end: 2;
  height: 305px;
  object-fit: cover;
}
.grid_5 .img-2 {
  width: 100%;
  grid-column: auto / span 2;

  grid-row-start: 2;
  grid-row-end: 3;
  height: 305px;
  object-fit: cover;
}
.grid_5 .img-3 {
  width: 100%;
  grid-column: auto / span 2;

  grid-row-start: 2;
  grid-row-end: 3;
  height: 305px;
  object-fit: cover;
}
.grid_5 .img-4 {
  width: 100%;
  grid-column: auto / span 3;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 305px;
  object-fit: cover;
}

.more-pics-shadow {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 305px;
  width: 33.33%;
  background: #94949454;
  font-size: 32px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
}
.post .reacts_share {
  margin: 0 15px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: var(--color-secondary);
  border-bottom: 1px solid var(--bg-secondary);
}
.post .reacts_share .to_left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.to_left .react_count_img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
}
.to_left .react_count_img img {
  width: 18px;
}
.to_left .react_count_num {
  font-size: 14px;
  color: var(--color-secondary);
}

.post .reacts_share .to_right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 15px;
}
.post .reacts_share .to_right .post_comments:hover {
  cursor: pointer;
  text-decoration: underline;
}
.post .reacts_share .to_right .post_share:hover {
  cursor: pointer;
  text-decoration: underline;
}

.post .reacts_like {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-secondary);
  padding: 10px;
  border-bottom: 1px solid var(--bg-secondary);
  margin: 0 15px 0 15px;
  gap: 10px;
  position: relative;
}
.post .reacts_like .like {
  width: 33%;
  height: 35px;
  display: grid;
  place-items: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.post .reacts_like .comment {
  width: 33%;
  height: 35px;
  display: grid;
  place-items: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.post .reacts_like .share {
  width: 33%;
  height: 35px;
  display: grid;
  place-items: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.react_pop_up {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20rem;
  bottom: 3rem;
  background: var(--bg-primary);
  border-radius: 50px;
  gap: 8px;
  padding: 5px;
  box-shadow: 0 1px 1px var(--shadow-2);
}
.react_pop_up .react:hover {
  transform: scale(1.3);
}
.react_pop_up .react {
  cursor: pointer;
  transition: all 0.2s;
}

.react_pop_up .react img {
  width: 42px;
  height: 42px;
  object-fit: cover;
}

/*-------------create comment -----------*/
.comments_wrap {
  padding: 10px 15px;
}
.create_comment {
  display: flex;
  align-items: center;

  gap: 5px;
  flex-direction: row;
}
.create_comment img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}
.create_input_wrap {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--bg-forth);
  border-radius: 50px;
  align-items: center;
  padding-right: 10px;
}
.create_input_wrap input {
  outline: none;
  border: none;
  height: 35px;
  padding: 0 10px;
  flex: 1;
  color: var(--color-primary);
  background: transparent;
}
.comment_circle_icon {
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  cursor: pointer;
  border-radius: 50%;
}

.comment_error {
  padding: 0 !important;
  display: flex !important;
  justify-content: space-between !important;
  padding: 0 15px !important;
  opacity: 0.9 !important;
}
.image_comment_preview {
  margin-top: 10px;
  margin-left: 30px;
  position: relative;
}
.image_comment_preview img {
  border-radius: 10px;
  width: 150px;
  height: 100px;
  object-fit: cover;
}
.image_comment_preview .small_white_circle {
  top: -0.9rem;
  left: 8.5rem;
  position: absolute;
  color: #fff;
  background: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transform: scale(0.6);
  cursor: pointer;
}

.post_menu_wrap {
  position: absolute;
  list-style: none;
  width: 300px;
  background: var(--bg-primary);
  align-items: center;
  box-shadow: 1px 0 2px var(--shadow-1);
  top: 3.1rem;
  right: 10px;
  line-height: 19px;
  font-size: 14px;
  font-family: inherit;
  border-radius: 10px;
  padding: 10px;
  z-index: 99;
}

.post_menu_wrap li {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}
.post_menu_wrap .line {
  background: #ced0d4;
  width: 100%;
  height: 1px;
  margin: 5px 0;
}

.post_item_wrap {
}
.post_item_wrap .post_item_subtitle {
  display: flex;
  flex-direction: column;
}
.post_item_wrap .post_item_subtitle .post_text_subtitle {
  font-size: 12px;
  color: #65676b;
}

/*-------------create comment -----------*/

@media (min-width: 940px) and (max-width: 1176px) {
  .post {
    margin-top: 20px;
    background: var(--bg-primary);
    width: 100% !important;
    border-radius: 10px;
    box-shadow: 0 1px 2px var(--shadow-1);
    user-select: none;
    color: var(--color-primary);
    margin-bottom: 10px;
  }
}
