.pictureBox {
  width: 700px !important;
  height: 75vh;
}

.update_picture_buttons > .blue_btn {
  width: 100%;
  background-color: #b3faff !important;
  color: var(--blue-color);
}
.update_picture_buttons > .gray_btn {
  width: 100%;
}
.update_picture_wrap > .update_picture_buttons {
  display: flex;
  gap: 10px;
  padding: 10px 15px;
}
.update_img {
  width: 700px !important;
  height: auto;
}
.update_img .small_circle :hover {
  filter: brightness(0.9);
}
.update_image_description {
  padding: 15px;
}
.update_image_description textarea {
  background: var(--bg-secondary);
}
.textarea_blue {
  resize: none;
  border-radius: 7px;
  width: 100%;
  height: 85px;
  outline-offset: 3px;
  border-color: var(--bg-third);
  padding: 1.4rem;
  background-color: var(--bg-primary);
  font-size: 16px;
  font-family: inherit;
  color: var(--color-primary);
}
.textarea_blue:focus {
  outline-color: var(--blue-color);
}
.textarea_blue:hover {
  border-color: var(--color-secondary);
}
.update_center {
  position: relative;
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cooper {
  margin-top: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  height: 300px;
  width: 80%;
}
.cooper img {
  width: 100%;
  object-fit: contain;
}
.cooper .reactEasyCrop_Contain {
  width: 100%;
  height: 100%;
}
.update_center .reactEasyCrop_CropAreaGrid {
  width: 300px !important;
  height: 300px !important;
  color: rgba(255, 255, 255, 0.5);
}
.update_center .slider {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  gap: 5px;
}
.update_center .slider .small_circle {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.crop_make_part {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 5px;
  margin-top: 20px;
  font-weight: 700;
}
.crop_make_part .hover1:hover {
  filter: brightness(0.9);
  transition: all 0.2s;
}
.comment_profile {
  padding: 20px 40px;
  margin-top: 20px;

  color: var(--color-secondary);
  border-bottom: 2px solid var(--bg-secondary);
}

.update_img .cancel_save_part {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;
  padding: 20px;
  font-weight: 600;
}
.update_img .save_part {
  color: var(--blue-color);
  cursor: pointer;
}
.update_img .blue_btn {
  width: 80px;
}
.update_img .blue_btn:hover {
  filter: brightness(0.9);
}
.old_picture_wrap {
  overflow-y: auto;
}
.old_picture_wrap span {
  padding: 10px;
  color: var(--color-secondary);
  font-size: small;
}
.old_picture_wrap > .splitter {
  margin: 10px;
  width: 85%;
}
.old_picture_wrap .pptuned_profile {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.old_picture_wrap .pptuned_profile img {
  border-radius: 5px;
}
.old_picture_wrap .pptuned_profile img:hover {
  filter: brightness(120%);
}
.pptuned_non_profile {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.pptuned_non_profile img {
  border-radius: 5px;
}
