.register_input_wrap {
  width: 100% !important;
}
.register_input_wrap input {
  width: 300px;
  background: var(--bg-secondary);
}
.register_input_wrap .input_error {
  max-width: 300px;
}

@media (min-width: 539px) {
  .register_input_wrap .input_error {
    max-width: 100%;
  }
}

.input_error {
  position: relative;
  background: #b94a48;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 15px 10px;
  color: #fff;
  font-style: 13px;
  padding-bottom: 20px !important;
}
.input_error_desktop {
  position: absolute;
  width: 300px;
  left: -19.5rem !important;
  top: -2px;
  padding: 11px !important;
}
.view3_error_right {
  position: absolute;
  top: 0.2rem !important;
  left: 23.7rem !important;
}
.view3_error_left {
  position: absolute;
  top: 0.2rem !important;
  left: -23.7rem !important;
}

.error_register_right {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #b94a48;
  position: absolute;
  bottom: 20px;
  right: -.6rem;
}

.error_register_left {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #b94a48;
  position: absolute;
  bottom: 20px;
  right: 11.2rem;
}
