.story {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 105px);
  gap: 10px;
  padding: 6px 0;
  
}
.story_card {
  position: relative;
  display: flex;
  height: 190px;
  overflow: hidden;
  width: 100%;
  background: #fff;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 1px 2px var(--shadow-1);
}
.story_card_plus {
  position: absolute;
  top: 65%;
  background: var(--blue-color);
  color: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 4px solid #fff;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.story_card_pic {
  position: absolute;
  width: 100%;
  height: 75%;
  object-fit: cover;
  filter: brightness(80%);
}

.story_card_footer {
  position: absolute;
  color: #000;
  left: 20%;
  top: 90%;
  transform: translateY(-50%);
  font-size: 12px;
}
/*---- stor part-----------*/
.stor {
  height: 190px;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 1px 2px var(--shadow-1);
}
.stor .stor_image {
  width: 100%;
  height: 100%;
  transition: all 0.2s;
}
.stor .stor_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  cursor: pointer;
}
.stor:hover .stor_image {
  transform: scale(1.1);
}

.stor .stor_profile_image img {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 0;
  left: 0;
  object-fit: cover;
  border: 1px solid blue;
  cursor: pointer;
}
.stor .stor_profile_name {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  word-break: break-word;
  width: 100%;
  font-size: 12px;
  color: #fff;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.story .white_circle {
  width: 40px;
  height: 40px;
  background-color: var(--bg-primary);
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -5px;
  cursor: pointer;
  box-shadow: 0 1px 2px var(--shadow-1);
}

/*---- stor part-----------*/
